@font-face {
    font-family: Source Code Pro;
    src: url(assets/fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf);
}

:root {
    --dark-cyan-blue: #192231;
    --gun-metal: #404A42;
    --olive-drab: #C0B283;
    --light-orange: #EEDBCD;
    --white-smoke: #F4F4F4;
    --blue: #1677C6;

    --border: 1px solid rgba( 255, 255, 255, 0.18 );
    --background-gradient: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    --background: rgba( 255, 255, 255, 0.3 );
    --box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.18 );
}

* {
    box-sizing: border-box;
}

html, body {
    min-height: 100svh;
    width: 100%;
}

body {
    margin: 0;
    padding: 0.5rem;
    background-image: url(/assets/images/background-image.png), var(--background-gradient);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--dark-cyan-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
    gap: 1rem;
}

body * {
    font-family: 'Source Code Pro';
}

/* glass effect */
nav, #about, .skill, #experiences {
    border: var(--border);
    border-radius: 10px;
    background: var(--background);
    backdrop-filter: blur( 7.5px );
    --webkit-backdrop-filter: blur( 7.5px );
    box-shadow: var(--box-shadow);
} 

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

#logo:hover {
    color: var(--olive-drab);
}

nav {
    display: flex;
    gap: 1rem;
    padding: 5px;
}

.nav-icon {
    width: 32px;
    height: 32px;
}

ion-icon {
    cursor: pointer;
}

ion-icon:hover {
    color: var(--light-orange);
}

main {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    gap: 3rem;
}

#left-card, #right-card {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#about {
    padding: 2rem;
}

#skills {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: flex-start;
}

.skill {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
    flex: auto;
}

.skill-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.skill-title {
    font-size: x-large;
    font-weight: bold;
    margin: auto;
}

.skill-icon {
    width: 60px;
    border-radius: 10px;
}

#subskills {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex: 2;
}

.subskill {
    display: flex;
}

.subskill-icon {
    width: 40px;
    border-radius: 10px;
}

.subskill-title {
    margin: auto 1rem;
}

#technologies {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    justify-content: center;
  }
  
  .technology-logo {
    width: 90px;
    height: 90px;
    margin: 10px;
    transform: rotate(0deg);
    font-size: x-large;
    font-weight: bold;
  }
  
.technology-logo img {
    width: 100%;
    height: auto;
}

.iam {
    color: var(--olive-drab);
}

a {
    color: var(--dark-cyan-blue);
}

#main-project, .experience {
    border-left: 1px solid var(--olive-drab);
    padding: 0.5rem;
}

#job-title {
    color: var(--gun-metal);
}

#attribution * {
    color: var(--olive-drab);
}

#attribution *:hover {
    color: var(--gun-metal);
}

#resume-link, #email-me {
    font-weight: bold;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 1rem;
    background-color: var(--blue);
    padding: 0.5rem;
    color: white;
    box-shadow: 0px 10px 15px 8px rgba(192,178,131,0.3);
    gap: 0.5rem;
    cursor: pointer;
}

#resume-link:hover, #email-me:hover {
    background-color: var(--olive-drab);
}

#resume-link {
    left: 1rem;
}

#email-me {
    right: 1rem;
}

#experiences {
    padding: 0 1rem;
}

@media (max-width: 420px) {
    #resume-link {
        bottom: 4rem;
    }

    body {
        padding-bottom: 7rem;
    }
}
